<template>
  <v-container grid-list-md>
    <v-layout wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title class="pb-0 pt-0">
            <v-breadcrumbs divider="/">
              <v-breadcrumbs-item to="/topics" nuxt>Топики</v-breadcrumbs-item>
              <v-breadcrumbs-item :to="`/topics/${article.topic_id}`" nuxt>{{ article.topic_id }}</v-breadcrumbs-item>
              <v-breadcrumbs-item disabled>Статьи</v-breadcrumbs-item>
              <v-breadcrumbs-item>{{ $route.params.id }}</v-breadcrumbs-item>
            </v-breadcrumbs>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            <div class="headline">{{ article.title }}</div>
          </v-card-title>
          <v-card-text class="markdown-render pl-5" v-html="article.body" />
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { requestTo } from "~/assets/helper.js";

export default {
  async asyncData({ app, params, store, redirect, error }) {
    const res = await requestTo(app, `api/articles/${params.id}`, error, redirect);

    return {
      article: res.article,
    };
  },
  data() {
    return {
      article: {},
    };
  },
};
</script>
