<template>
  <v-container grid-list-md>
    <v-layout wrap>
      <v-flex>
        <v-card>
          <v-card-title class="pb-0 pt-0">
            <v-breadcrumbs divider="/">
              <v-breadcrumbs-item to="/topics" exact nuxt>Топики</v-breadcrumbs-item>
              <v-breadcrumbs-item>{{ $route.params.id }}</v-breadcrumbs-item>
            </v-breadcrumbs>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            <v-layout wrap>
              <v-flex xs12 pb-0>
                <div class="headline">{{ topic["title"] }}</div>
              </v-flex>
              <v-flex pt-0 xs12>
                <div class="body-1">{{ topic["short_description"] }}</div>
              </v-flex>
            </v-layout>
          </v-card-title>
          <v-card-text>
            <v-list>
              <template v-for="(article, index) in articles">
                <v-list-tile
                  :key="`${article.id}_${article.title}`"
                  @click="1"
                >
                  <v-list-tile-content>
                    <v-list-tile-title v-text="article.title"></v-list-tile-title>
                    <v-list-tile-sub-title v-text="article.short_description"></v-list-tile-sub-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <v-btn @click.native="$router.push(`/articles/${article.id}`)" icon flat ripple>
                      <v-icon color="primary">info</v-icon>
                    </v-btn>
                  </v-list-tile-action>
                  <v-list-tile-action>
                    <v-btn v-if="!isStudent" @click="removeArticle(article.id, index)" icon  flat ripple>
                      <v-icon color="error">delete</v-icon>
                    </v-btn>
                  </v-list-tile-action>
                </v-list-tile>
                <v-divider
                  v-if="index + 1 < articles.length"
                  :key="index"
                ></v-divider>
              </template>
            </v-list>
          </v-card-text>
          <v-card-actions v-if="!isStudent">
            <v-btn :to="`/topics/${$route.params.id}/articles`" nuxt flat color="secondary darken-2">Добавить статью</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <v-flex pt-2 text-xs-center>
        <v-pagination v-model="page" :length="length"/>
      </v-flex>
      <v-snackbar v-model="snackbar" bottom :timeout="1500" >
        Статья удалена
      </v-snackbar>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";

import { requestTo } from "~/assets/helper.js";

export default {
  async asyncData({ app, params, store, redirect, error }) {
    const topicRes = await requestTo(app, `api/topics/${params.id}`, error, redirect);
    const articlesRes = await requestTo(app, `api/topics/${params.id}/articles`, error, redirect);

    return {
      topic: topicRes.topic,
      articles: articlesRes.data,
      page: articlesRes.meta["current_page"],
      length: articlesRes.meta["total_pages"],
    };
  },
  data() {
    return {
      snackbar: false,
      page: 1,
      length: 1,
      topic: {},
      articles: [],
    };
  },
  computed: {
    ...mapGetters("user", ["isStudent"]),
  },
  methods: {
    async removeArticle(id, index) {
      this.$axios.$delete(`api/articles/${id}`);
      this.articles.pop(index);
      this.snackbar = true;
    },
  },
};
</script>
