<template>
  <v-container>
    <v-layout column>
      <v-card>
        <v-card-title><div class="headline">Топики</div></v-card-title>
        <v-card-text>
          <v-list>
            <template v-for="(topic, index) in topics">
              <v-list-tile
                :key="topic.title"
                :to="`topics/${topic.id}`"
                nuxt
              >
                <v-list-tile-content>
                  <v-list-tile-title v-text="topic.title"></v-list-tile-title>
                  <v-list-tile-sub-title v-text="topic.short_description"></v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-action>
                  <v-icon color="error">delete</v-icon>
                </v-list-tile-action>
              </v-list-tile>
              <v-divider
                v-if="index + 1 < topics.length"
                :key="index"
              ></v-divider>
            </template>
          </v-list>
        </v-card-text>
      </v-card>
      <v-flex pt-2 text-xs-center>
        <v-pagination v-model="page" :length="length"/>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  async asyncData({ app, store, redirect }) {
    const res = await app.$axios.$get("api/topics").catch(err => redirect("/"));

    return {
      page: res.meta["current_page"],
      length: res.meta["total_pages"],
      topics: res.data,
    };
  },
  data() {
    return {
      page: 1,
      length: 1,
      topics: [],
    };
  },
  watch: {
    page: async function(newPage) {
      const { data, meta } = await this.$axios.$get(`api/users?page=${newPage}`);

      this.topics = data;
      this.page = meta["current_page"];
      this.length = meta["total_pages"];
    },
  }
};
</script>
