<template>
  <v-container grid-list-md>
    <v-layout row justify-center>
      <v-dialog v-model="dialog" full-width>
        <v-card>
          <v-card-title>
            <v-layout wrap>
              <v-flex xs12>
                <div class="headline">{{ title || "Введите название" }}</div>
              </v-flex>
              <v-flex xs12>
                <div class="body-1">{{ shortDescription || "Введите короткое описание" }}</div>
              </v-flex>
            </v-layout>
          </v-card-title>
          <v-card-text class="markdown-render" v-html="renderedMarkdown" />
          <v-card-actions>
            <v-spacer />
            <v-btn @click.native="dialog = false" color="primary" flat>Закрыть</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <v-layout wrap>
      <v-flex xs12>
        <v-card class="scroll">
          <v-card-title>
            <div class="headline">Создание статьи</div>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                 <v-alert v-model="showAlert" type="error" transition="scale-transition" dismissible>Ошибка в создании статьи.</v-alert>
               </v-flex>
                <v-flex md6 xs12>
                  <v-text-field v-model="title" autofocus label="Название" :disabled="formDisabled" required />
                </v-flex>
                <v-flex md6 xs12>
                  <v-text-field v-model="shortDescription" label="Короткое описание" :disabled="formDisabled" required />
                </v-flex>
                <v-flex xs12>
                  <v-textarea v-model="body" rows="20" label="Текст статьи" :disabled="formDisabled" no-resize />
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-btn color="info" @click="dialog = true" :disabled="formDisabled" flat>Предпросмотр статьи</v-btn>
            <v-spacer />
            <v-btn color="primary" @click="postArticle" :disabled="formDisabled" flat>Сохранить</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import marked from "marked";

export default {
  async asyncData({ store, redirect }) {
    if (store.getters["user/isStudent"]) redirect("/");
  },
  data() {
    return {
      dialog: false,
      formDisabled: false,
      showAlert: false,
      title: "",
      shortDescription: "",
      body: "",
    };
  },
  computed: {
    renderedMarkdown() {
      return marked(this.body);
    },
  },
  methods: {
    async postArticle() {
      this.formDisabled = true;
      this.showAlert = false;

      const payload = {
        article: {
          title: this.title,
          short_description: this.shortDescription,
          body: this.body,
        },
      };

      const res = await this.$axios.$post(`api/topics/${this.$route.params.topic_id}/articles`, payload).catch(err => {
        this.showAlert = true;
        this.$vuetify.goTo(0);
      });

      this.formDisabled = false;
      if (res !== undefined) {
        this.$router.push(`/topics/${this.$route.params.topic_id}`);
      }
    },
  },
};
</script>
