<template>
  <v-layout row justify-center>
    <v-dialog :value="dialog" max-width="500px" persistent>
      <v-card>
        <v-card-title class="pb-0">
          <span class="headline">Аунтефикация</span>
        </v-card-title>
        <v-card-text class="pt-0">
          <v-container pb-0 grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-alert v-model="showAlert" type="error" transition="scale-transition" dismissible>Неверные имя пользователя или пароль</v-alert>
              </v-flex>
              <v-flex xs12 sm6>
                <v-text-field v-model="username" class="pt-0" label="Имя пользователя" hint="Username" :disabled="isFormDisabled" required></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-text-field v-model="password" class="pt-0" label="Пароль" hint="Password" type="password" :disabled="isFormDisabled" required></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-btn color="blue darken-1" flat :disabled="isFormDisabled" @click.native="closeModal">Закрыть</v-btn>
          <v-spacer/>
          <v-btn color="blue darken-1" flat :disabled="isFormDisabled" @click.native="logIn">Войти</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      username: "",
      password: "",
      isFormDisabled: false,
      showAlert: false,
    };
  },
  model: {
    prop: "dialog",
    event: "change",
  },
  props: {
    dialog: Boolean,
  },
  computed: {
    ...mapGetters("user", ["isLoggedIn"]),
  },
  methods: {
    async logIn() {
      this.isFormDisabled = true;
      this.showAlert = false;

      await this.$store.dispatch("user/logIn", { username: this.username, password: this.password }).catch(err => {
        this.showAlert = true;
      });

      this.isFormDisabled = false;
      if (this.isLoggedIn) {
        this.clearAllData();
        this.closeModal();
      }
    },
    clearAllData() {
      this.username = this.password = "";
    },
    closeModal() {
      this.$emit("change", false);
    },
  },
};
</script>
