<template>
  <div>
    <v-navigation-drawer v-model="drawer" app fixed disable-resize-watcher>
      <v-img
        aspect-ratio="16/9"
        height="150"
        :src="require('~/assets/material.jpg')"
        gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
      >
        <v-layout justify-end pa-3 column fill-height class="white--text">
          <v-flex shrink>
            <div class="subheading">{{ usernameWithRole || "guest" }}</div>
            <div class="body-1">{{ email }}</div>
          </v-flex>
        </v-layout>
      </v-img>
      <v-btn class="ma-0" to="/" flat block nuxt exact>Главная</v-btn>
      <v-btn class="ma-0" v-if="isTeacher || isAdministrator" to="/users" flat block nuxt>Пользователи</v-btn>
      <v-btn class="ma-0" v-if="isLoggedIn" to="/topics" flat block nuxt>Топики</v-btn>
      <v-btn class="ma-0" v-if="isLoggedIn" to="/tests" flat block nuxt>Тесты</v-btn>
      <v-btn class="ma-0" v-if="isLoggedIn" flat block>Настройки</v-btn>
      <v-btn class="ma-0" v-if="isLoggedIn" @click.native="logOut" flat block>Выход</v-btn>
    </v-navigation-drawer>
    <v-toolbar color="primary lighten-1" app fixed>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"/>
      <v-toolbar-title>Web Test Engine</v-toolbar-title>
      <v-spacer/>
      <v-btn class="hidden-sm-and-down" to="/" flat nuxt exact>Главная</v-btn>
      <v-btn class="hidden-sm-and-down" to="/about" flat nuxt>О проекте</v-btn>
    </v-toolbar>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";

export default {
  data() {
    return {
      drawer: false,
    };
  },
  methods: {
    logOut() {
      this.$store.dispatch("user/logOut");
      this.$router.push("/");
    },
  },
  computed: {
    ...mapState("user", ["email", "usernameWithRole"]),
    ...mapGetters("user", ["isLoggedIn", "isTeacher", "isAdministrator"]),
  },
};
</script>
