<template>
  <v-container grid-list-md>
    <v-layout wrap>
      <v-flex>
        <v-card>
          <v-card-title class="pb-0 pt-0">
            <v-breadcrumbs divider="/">
              <v-breadcrumbs-item to="/users" exact nuxt>Пользователи</v-breadcrumbs-item>
              <v-breadcrumbs-item>{{ $route.params.id }}</v-breadcrumbs-item>
            </v-breadcrumbs>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card>
          <v-card-title><div class="headline">{{ user["full_name"] || "Пользователь" }}</div></v-card-title>
          <v-card-text>
            <v-list two-line>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title class="pb-2">Фамилия</v-list-tile-title>
                  <v-list-tile-sub-title v-text="user['last_name']"></v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-content>
                  <v-list-tile-title class="pb-2">Имя</v-list-tile-title>
                  <v-list-tile-sub-title v-text="user['first_name']"></v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-content>
                  <v-list-tile-title class="pb-2">Отчество</v-list-tile-title>
                  <v-list-tile-sub-title v-text="user['patronymic']"></v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider/>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title class="pb-2">Ник</v-list-tile-title>
                  <v-list-tile-sub-title v-text="user['username']"></v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-content>
                  <v-list-tile-title class="pb-2">Зарегестрирован</v-list-tile-title>
                  <v-list-tile-sub-title v-text="user['created_at']"></v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-content>
                  <v-list-tile-title class="pb-2">Тип</v-list-tile-title>
                  <v-list-tile-sub-title v-text="user['role']"></v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  async asyncData({ app, params, store, redirect, error }) {
    if (store.getters["user/isStudent"]) redirect("/");
    const res = await app.$axios.$get(`api/users/${params.id}`).catch(({ response: { status } }) => {
      if (status === 404) {
        error({ statusCode: 404 });
      } else {
        redirect("/");
      }
    });

    if (res !== undefined) return { user: res.user };
  },
  data() {
    return {
      user: {},
    };
  },
};
</script>
