<template>
  <v-container>
    <v-layout column>
      <v-card>
        <v-card-title><div class="headline">Пользователи</div></v-card-title>
        <v-card-text>
          <v-list>
            <v-slide-x-transition group hide-on-leave>
              <template v-for="(user, index) in users">
                <v-list-tile
                  :key="user.username"
                  :to="`users/${user.id}`"
                  nuxt
                >
                  <v-list-tile-content>
                    <v-list-tile-title v-text="user.username"></v-list-tile-title>
                    <v-list-tile-sub-title v-text="user.full_name"></v-list-tile-sub-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <v-icon color="black">{{ (user.role === "Student") ? "school" : "person" }}</v-icon>
                  </v-list-tile-action>
                </v-list-tile>
                <v-divider
                  v-if="index + 1 < users.length"
                  :key="index"
                ></v-divider>
              </template>
            </v-slide-x-transition>
          </v-list>
        </v-card-text>
      </v-card>
      <v-flex pt-2 text-xs-center>
        <v-pagination v-model="page" :length="length"/>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  async asyncData({ app, store, redirect }) {
    if (store.getters["user/isStudent"]) redirect("/");
    const res = await app.$axios.$get("api/users").catch(err => redirect("/"));

    return {
      page: res.meta["current_page"],
      length: res.meta["total_pages"],
      users: res.data,
    };
  },
  data() {
    return {
      page: 1,
      length: 1,
      users: [],
    };
  },
  watch: {
    page: async function(newPage) {
      const { data, meta } = await this.$axios.$get(`api/users?page=${newPage}`);

      this.users = data;
      this.page = meta["current_page"];
      this.length = meta["total_pages"];
    },
  },
};
</script>
