<template>
  <div>
    <v-app>
      <nav-bar/>
      <v-content>
        <nuxt/>
      </v-content>
      <Footer/>
    </v-app>
  </div>
</template>

<script>
import NavBar from "~/components/NavBar.vue";
import Footer from "~/components/Footer.vue";

export default {
  components: {
    NavBar,
    Footer,
  },
};
</script>
