<template>
  <v-container fluid>
    <h1 class="display-2" v-if="error.statusCode === 404">Саня - пидор, а также страница не найдена</h1>
    <h1 class="display-2" v-else>Произошла ошибка</h1>
    <nuxt-link to="/">Домашняя страница</nuxt-link>
  </v-container>
</template>

<script>
export default {
  props: ["error"],
};
</script>
