<template>
  <v-container>
    <v-btn @click="fillWithLocalData">Fill In</v-btn>
    <v-btn @click="$store.dispatch('user/getUserData')">Get User Data</v-btn>
    <v-btn @click="$store.dispatch('user/logIn', { username: 'vanyaz158', password: 'giveall' })">Log In</v-btn>
    <h1 class="display-4">About</h1>
    <p>Logged: {{ $store.getters["user/isLoggedIn"] }}</p>
  </v-container>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  methods: {
    fillWithLocalData() {
      this.fillData({
        username: "vanyaz158",
        firstName: "first",
        lastName: "last",
        patronymic: "patr",
        role: "student",
      });
    },

    ...mapMutations("user", ["fillData"]),
  },
};
</script>
