<template>
  <v-container class="pb-0 pt-0 pr-0 pl-0" fluid wrap>
    <registration-form v-model="isRegistrationFormEnabled"/>
    <log-in-form v-model="isLogInFormEnabled"/>
    <v-parallax :src="require('~/assets/material.jpg')" height="300">
      <v-layout align-center column justify-center>
        <h1 class="display-2 font-weight-black mb-4">Web Test Engine</h1>
        <h4 class="subheading">Сайт позволяет предоставляет студентам и учителям возможность для создания и прохождения автогенерируемых тестов</h4>
      </v-layout>
    </v-parallax>

    <v-card color="primary lighten-2" v-if="userIsGuest" flat>
      <v-card-title primary-title>
        <v-layout class="headline" column align-center justify-center>
          Вы можете войти в систему
        </v-layout>
      </v-card-title>
      <v-card-actions>
        <v-btn @click="isLogInFormEnabled = true" flat>Войти</v-btn>
        <v-spacer/>
        <v-btn slot="activator" @click="isRegistrationFormEnabled = true" flat>Зарегистрироваться</v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";

import RegistrationForm from "~/components/RegistrationForm.vue";
import LogInForm from "~/components/LogInForm.vue";

export default {
  data() {
    return {
      isRegistrationFormEnabled: false,
      isLogInFormEnabled: false,
    };
  },
  components: { RegistrationForm, LogInForm },
  computed: {
    ...mapGetters("user", { userIsGuest: "isGuest" }),
  },
};
</script>
